[Desktop Entry]
Name=ukui-group-manager
Comment=ukui-group-manager
Exec=/usr/bin/group-manager-server
Terminal=false
Type=Application
Keywords=UKUI;
NoDisplay=true
OnlyShowIn=UKUI;
X-UKUI-Autostart-Phase=Application
X-UKUI-Bugzilla-Bugzilla=UKUI
X-MATE-Autostart-Phase=Applications
X-KDE-autostart-after=panel
X-UKUI-Autostart-Notify=true
X-UKUI-Autostart-Delay=3
X-UKUI-AutoRestart=true


